.App {

}

.top {
  position: fixed;
  width: 100%;
  top: 0px;
}

.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.login {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 0%;
  right: 0%;
  margin: auto;

}
