.newFolder {
    width: 50%;
}

.addColor {
    color: lavender;
}
.tip {
    font-family: Serif;
    font-size: large;
    color: #2e2e85;
    text-align: center;
}

.scraping {
    text-align: center;
    font-family: Georgia;
    font-size: xx-large;
    color: #0d0d26;
    text-shadow: 3px 2px #d8ecf3;
}