.sortByParent {
    text-align: center;
}

.tableHead {
    font-weight: bold;
}

.buttonParent {
    text-align: center;
}

.buttons {
    display: inline-block;
}
.mBodyElementImage {
    text-align: center;

}