.top {
  width: 100%;
  top: 0px;
  text-align: center;
  position: fixed;
}

img.backgroundImage {
  width: 1920px;
  height: 930px;
}

img.houseLogo {
  position: relative;
  left: -895px;
  width: 7%;
}

.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.login {
  width: 50%;
  height: 50%;
  position: fixed;
  text-align: center;

}
