.LoginScreen {

}

.top {
  width: 100%;
  top: 50px;
  text-align: center;
  position: fixed;
}

.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.login {
  width: 50%;
  height: 50%;
  position: fixed;
  text-align: center;

}
