.registerForm {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.70);

}

.labels{
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Full width inputs */
.inputRegister {
    width: 100%;
    padding: 10px 20px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
}

.registrationComponent {
    width: 500px;
    top: 5%;
    left: 30%;
    position: absolute;
}

/* make a fake button for spacing */
.placeholderButton {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 20%;
}

/* Set a style for actual button */
.registerButton {
    background-color: lightseagreen;
    color: white;
    padding: 10px 10px;
    position: relative;
    top: -30px;
    margin: -1cm 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30%;
}

/* Add a hover effect for buttons */
.registerButton:hover {
    opacity: 0.8;
}

.centerContainer {
    text-align: center;

}

/* Add padding to containers */
.container {
    padding: 15px;
    display: inline-block;
    min-height: 100%;
    min-width: 50%;
    max-width: 700px;
    text-align: left;

}
