/*I'M SORRY THIS CODE IS SO MESSY!!!*/

.registerForm {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background-color: #f1f1f1;
}

/* Full width inputs */
.inputRegister {
    width: 100%;
    padding: 10px 20px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
}

.registrationComponent {
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -300px;
    position: absolute;
}

/* make a fake button for spacing */
.placeholderButton {
    background-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 20%;
}

/* Set a style for actual button */
.registerButton {
    background-color: lightseagreen;
    color: white;
    padding: 10px 10px;
    position: relative;
    top: -30px;
    margin: -1cm 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30%;
}

/* Add a hover effect for buttons */
.registerButton:hover {
    opacity: 0.8;
}


.centerContainer {
    text-align: center;
}

/* Add padding to containers */
.container {
    margin: 1px;
    display: inline-block;
    height: 200px;
    text-align: left;
}


.container {
    background-color: #f1f1f1;

}

/* UN-USED CODE SEGMENTS */

/* Extra style for the cancel button (red) */
/*.cancelbtn {
    width: auto;
    padding: 10px 30px;
    margin: 0px 5px;
    background-color: dodgerblue;
}*/

/* Center the avatar image inside this container */
/*.imgcontainer {
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 7px;
    background-color: #ffff;
}*/

/* Avatar image */
/*img.avatar {
    min-height: 50%;
    max-height: 200px;
    border-radius: 50%;
    height: 100%;
}*/

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}*/