/* Bordered form */
form {
    /*border: 3px solid #f1f1f1; */
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.loginComponent {
    width: 500px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -255px;
    position: absolute;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
}

/* Set a style for all buttons */
button {
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 30px;
    margin: 0px 5px;
    background-color: dodgerblue;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 7px;
    background-color: #ffff;
}

/* Avatar image */
img.avatar {
    min-height: 50%;
    max-height: 200px;
    border-radius: 50%;
    height: 100%;
}

.centerContainer {
    text-align: center;
}

/* Add padding to containers */
.container {

    padding: 16px;
    display: inline-block;
    min-height: 50%;
    min-width: 50%;
    max-height: 400px;
    max-width: 700px;
    text-align: left;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.container {
    background-color: #f1f1f1;
}