.top {
    width: 100%;
    top: 0px;
    text-align: center;
    position: fixed;
}

.houseLogoContainer {
    z-index: 1;
    position: relative;
}

img.houseLogo {
    position: fixed;
    top: 8px;
    left: 5px;
    min-height: 5%;
    max-height: 60px;
}

.bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.login {
    width: 50%;
    height: 50%;
    position: fixed;
    text-align: center;

}