.backgroundImageContainer {
   /* position: relative;*/
    background-size: cover;
    height: 100%;
    top: 0;
}

img.backgroundImage {
    /* Set up height / width res */
    min-height: 100%;
    min-width: 1024px;

    /* Set up positioning */
    position: fixed;
    left: 0;
    top: 0;


    z-index: -1;
}