.loginForm {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgba(255,255,255,0.70);
}

.registerButton {
    border-width: 0px;
    border-color: black;
    border-style: solid;
}

a:hover {
    opacity: 0.8;
}

.loginComponent {
    width: 500px;
    height: 150px;
    top: 60%;
    left: 50%;
    margin-left: -250px;
    margin-top: -255px;
    position: absolute;
    opacity: 1.0;

}

/* "Email" and "Password" text */
.labels{
    margin-top: 10px;
    margin-bottom: 0px;
}

/*Full width inputs */
.inputLogin {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
    opacity: 1.0;

}

/* Set a style for all buttons */
.loginButton {
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.loginButton:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.rButton {
    width: 100%;
    padding: 10px 30px;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Add a hover effect for buttons */
.rButton:hover {
    opacity: 0.8;
    color: blue;
    text-decoration: none;
}

.wrapRButton {
    margin: 10px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 7px;
}

/* Avatar image */
.avatar {
    min-height: 50%;
    max-height: 200px;
    height: 100%;
}

.centerContainerL {
    text-align: center;

}

/* Add padding to containers */
.containerL {

    padding: 16px;
    display: inline-block;
    min-height: 50%;
    min-width: 50%;
    max-height: 400px;
    max-width: 700px;
    text-align: left;
}

/* The "Create Account" text */
span.createAccount {
    float: left;
    padding-top: 63px;
    position: relative;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.container {
    background-color: #f1f1f1;
}