.thumbnail {
    border: 20px;
    width: 30%;
    height: 30%;
    background-color: #61dafb;
    position: absolute;
}

.listImage {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-right: 3%;
}

.image {
    text-align: center;
}

